@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gowun+Dodum&family=Hi+Melody&family=Kdam+Thmor+Pro&family=Nanum+Pen+Script&family=Roboto+Slab&family=Rubik&family=Single+Day&display=swap');

body, html {
    margin: 0;
    padding: 0;
}
.wrap {
    width: 100vw;
    height: 12vh;
    position: relative;
}
.left{
    position: relative;
    width: 50%;
    height: 100px;
    float: left;
    background-color: rgb(255, 260, 252);
    z-index: 100;
}
.right{
    position: relative;
    background-color: rgb(255, 260, 252);
    width: 50%;
    height: 100px;
    float: right;
    z-index: 100;
}
.right ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    transform: translateY(30px);
}
.right ul li a {
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-family: 'Single Day', cursive;
}
.right ul li a:hover {
    color: rgb(70, 70, 255);
}

.left span {
    color: black;
    font-size: 0.9rem;
    font-family: 'Single Day', cursive;
}
.logo a {
    text-decoration: none;
}
.logo {
    display: inline-block;
    height: inherit;
    left: 1.25rem;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 10px;
    transform: translate(0, 30px);
}
#main-section {
    background-color: rgb(198, 216, 255);
    /* background: linear-gradient(90deg, rgba(53,173,245,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%); */
    width: 40%;
    height: 800px;
    float: left;
}
#main-aside {
    background-color: rgb(255, 260, 252);
    width: 60%;
    height: 800px;
    float: right;
}
#main-footer {
    background-color: rgb(255, 260, 252);
    clear: both;
    text-align: center;
    padding-top: 100px;
}
.sub-wrap {
    position: relative;
    width: 50%;
    height: 530px;
    bottom: -170px;
    left: 260px;
}
#box {
    position: absolute;
    width: 380px;
    height: 530px;
    background-color: rgb(208, 220, 247);
    right: 370px;
    box-shadow: 0 35px 77px -17px;
}

#box #mini-box {
    position: absolute;
    top: 530px;
    width: 380px;
    height: 53px;
    background-color: rgb(255, 260, 252, 0.9);
}
#box #img {
    position: absolute;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    background-color: white;
    background-image: url(/images/다운로드.jpeg);
    background-size: cover;
    top: 80px;
    left: 85px;
}
#mini-box #icon {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    transform: translate(-24px, -7px);
}
.content #main-aside h1{
    position: relative;
    top: 100px;
    left: 90px;
    font-size: 100px;
    width: 50%
}
#main-aside span {
    position: relative;
    font-size: 90px;
    left: 100px;
    font-family: 'Single Day', cursive;
    width: 50%
}
#clock-display {
    position: absolute;
    top: 350px;
    left: 95px;
    font-family: 'Single Day', cursive;
    font-size: 4em;
}