@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gowun+Dodum&family=Hi+Melody&family=Kdam+Thmor+Pro&family=Nanum+Pen+Script&family=Roboto+Slab&family=Rubik&family=Single+Day&display=swap');

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.wrap {
    width: 100%;
    height: 120px;
    position: relative;
}
.left{
    position: absolute;
    width: 50%;
    height: 100px;
    float: left;
    background-color: rgb(255, 260, 252);
    z-index: 100;
}
.right{
    position: relative;
    background-color: rgb(255, 260, 252);
    width: 50%;
    height: 100px;
    float: right;
    z-index: 100;
}
.right ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    transform: translateY(30px);
}
.right ul li a {
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-family: 'Single Day', cursive;
}
.right ul li a:hover {
    color: rgb(70, 70, 255);
}

.left span {
    color: black;
    font-size: 0.9rem;
    font-family: 'Single Day', cursive;
}
.logo a {
    text-decoration: none;
}
.logo {
    display: inline-block;
    height: inherit;
    left: 1.25rem;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 10px;
    transform: translate(0, 30px);
}
#outer {
    position: relative;
    width: 100vw;
    height: 87vh;
    display: flex;
    justify-content: center;
}
#membership-box {
    background-color: rgb(198, 216, 255, 0.4);
    border-radius: 10%;
    /* border: 1px solid black; */
    position: absolute;
    width: 500px;
    height: 87vh;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px gray;
}
#signupFrm {
    /* border: 1px solid black; */
    margin: auto;
    padding: auto;
}
table {
    padding: 10px;
}
th {
    width: 110px;
    text-align: left;
    padding: 40px 0;
    height: 40px;
    font-weight: 600;
    font-family: 'Hi Melody', sans-serif;
    font-size: 21px;
}
[type=submit] {
    /* border-width: 1px; */
    border-radius: 20%;
    border-style: solid;
    transform: translateX(30px);
    box-shadow: 5px 5px 5px gray;
    padding: 10px 100px;
    background-color: rgb(208, 220, 247, 0.4);
    position: absolute;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Hi Melody', sans-serif;
}
input {
    border-width: 0 0 1px;
    border-style: dotted;
    margin: 10px;
    background: transparent;
}