
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gowun+Dodum&family=Hi+Melody&family=Kdam+Thmor+Pro&family=Nanum+Pen+Script&family=Roboto+Slab&family=Rubik&family=Single+Day&display=swap');

body, html {
    margin: 0;
    padding: 0;
}
.wrap {
    width: 100%;
    height: 120px;
    position: relative;
}
.left{
    position: absolute;
    width: 50%;
    height: 100px;
    float: left;
    background-color: rgb(255, 260, 252);
    z-index: 100;
}
.right{
    position: relative;
    background-color: rgb(255, 260, 252);
    width: 50%;
    height: 100px;
    float: right;
    z-index: 100;
}
.right ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    transform: translateY(30px);
}
.right ul li a {
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-family: 'Single Day', cursive;
}
.right ul li a:hover {
    color: rgb(70, 70, 255);
}

.left span {
    color: black;
    font-size: 0.9rem;
    font-family: 'Single Day', cursive;
}
.logo a {
    text-decoration: none;
}
.logo {
    display: inline-block;
    height: inherit;
    left: 1.25rem;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 10px;
    transform: translate(0, 30px);
}
#main-section {
    position: absolute;
    background-color: rgb(198, 216, 255);
    width: 40%;
    height: 800px;
    float: left;
    transform: translateY(100px);
}
#main-aside {
    background-color: rgb(255, 260, 252);
    width: 60%;
    height: 800px;
    float: right;
}
#main-footer {
    background-color: rgb(255, 260, 252);
    clear: both;
    text-align: center;
    padding-top: 100px;
}
.sub-wrap {
    position: relative;
    width: 50%;
    height: 530px;
    bottom: -170px;
    left: 260px;
}
#box {
    position: absolute;
    width: 380px;
    height: 530px;
    background-color: rgb(208, 220, 247);
    right: 370px;
    box-shadow: 0 35px 77px -17px;
}
#box #mini-box {
    position: absolute;
    top: 530px;
    width: 380px;
    height: 53px;
    background-color: rgb(255, 260, 252, 0.9);
}
#box #img {
    position: absolute;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    background-color: white;
    background-image: url(/images/다운로드.jpeg);
    background-size: cover;
    top: 70px;
    left: 85px;
    cursor: pointer;
}
#mini-box #icon {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    transform: translate(-24px, -7px);
}
#main-aside span {
    position: relative;
    font-size: 50px;
    left: 100px;
    bottom: -380px;
    font-family: 'Nanum Pen Script', cursive;
    width: 50%;
    text-shadow: 0 35px 77px -17px;
    -webkit-text-stroke: 1px rgb(208, 220, 247);
}
@keyframes fadein {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}
#box {
    /* animation : 효과(@keyframes 이름) 동작시간 */
        animation: fadein 3s;
}
#main-aside {
    /* animation : 효과(@keyframes 이름) 동작시간 */
        animation: fadein 1.9s;
}
#box h2 {
    position: absolute;
    transform: translate(110px, 300px);
    -webkit-text-stroke: 1px rgb(208, 220, 247);
}
#box #line {
    width: 150px;
    border: 1px solid rgb(98, 98, 228);
    transform: translate(110px, 380px);
}
#box p {
    font-style: italic;
    transform: translate(113px, 400px);
    -webkit-text-stroke: 0.3px #b6a5ea;
}
.modal{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.modal_body{
    display: flex;
    justify-content: center;
    position:absolute;
    top:450px;
    width:400px;
    height:600px;
    padding:10px;  
    text-align: center;
    background-color: rgba(247, 244, 244, 0.9);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
    z-index: 999;
    border: 1px solid black;
}
.close {
    cursor: pointer;
    background-image: url('/images/free-icon-close-8373819.png');
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    left: 375px;
    z-index: 1000;
}
.modal_body table {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color:  rgb(212, 225, 255);
    border-radius: 10px;
    font-family: 'Nanum Pen Script', cursive;
}
th, tr, td {
    font-size: 25px;
}